/*鼠标图标*/
    body {
      cursor: url(https://npm.elemecdn.com/reverse-stu-allversions@1.0.3/butterfly/diy/default.cur), default;
      background: linear-gradient(90deg,rgba(247,149,51,.1),rgba(243,112,85,.1) 15%,rgba(239,78,123,.1) 30%,rgba(161,102,171,.1) 44%,rgba(80,115,184,.1) 58%,rgba(16,152,173,.1) 72%,rgba(7,179,155,.1) 86%,rgba(109,186,130,.1));
    }
  /*背景图*/
  #web_bg{

  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(16,152,173,.1);
    -webkit-box-shadow: inset 0 0 5px rgba(16,152,173,.1);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0,0,0,0.12);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}


  #page-header{
    background: url(https://cdn.zyha.cn/zhuao/pexels-stanislav-kondratiev-2908983.jpg?x-oss-process=style/blog);
    background-size: cover;
    background-position: center;
  } 
  #footer{
    background-color:unset;
  }

  .recent-post-item{
    
  }

  /* #recent-posts > .recent-post-item {
    height: auto;
    width: 100%;
    opacity: 0;
    animation-duration: 1s;
    animation-delay: 500ms;
    animation-iteration-count: 1;
  }
  #recent-posts > .animate__zoomIn {
    opacity: 1;
  } */